@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,400;1,500&family=Roboto:wght@100;300;400;500&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
    transition: .2s linear;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(/images/bg_login.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.header {
    top: 0;
    left: 0;
    //right: 0;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    padding: 1rem 5%;
    z-index: 1000;
    /* justify-content: space-between; */
}

    .header.active {
        background: white;
        box-shadow: 0 .2rem .5rem rgba(0, 0, 0,0.1);
    }

.logo {
    margin-right: auto;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}

.nav a {
    margin-left: 2rem;
    font-size: 1.1rem;
    color: black;
}

    .nav a:hover {
        color: #02174e;
    }

#nav_close {
    font-size: 3rem;
    color: black;
    cursor: pointer;
    display: none;
}

.icons a, .icons div {
    margin-left: 2rem;
    color: black;
}

    .icons a:hover {
        color: #02174e;
    }

    .icons div:hover {
        color: #02174e;
    }

#menu {
    display: none;
}

.wrapper {
    position: relative;
    width: 25rem;
    height: 32rem;
    background: transparent;
    border: 2px solid rgba(255,255,255,.5);
    border-radius: 1rem;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

    .wrapper .form-box {
        width: 100%;
        padding: 2rem;
    }

.form-box h2 {
    font-size: 1.5rem;
    color: black;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 3rem;
    border-bottom: 2px solid black;
    margin: 1.3rem 0;
}

    /*.input-box label {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        font-size: 1.1rem;
        color: black;
        font-weight: 500;
        pointer-events: none;
        transition: .5s;
    }*/


   /* .input-box input:valid ~ label {
        top: -4px;
    }

    .input-box input::placeholder {
        color: black;
    }*/

    .input-box input {
        width: 100%;
        height: 100%;
        background: transparent;
        border: none;
        outline: none;
        font-size:1.1rem;
    }
        .input-box input::placeholder
        {
            color:black;
            font-size:1.1rem;
        }
/*.input-box .input_icon
{
    position:absolute;
    right:8px;
    font-size:1.3rem;
    color:black;
    line-height:57px;
}*/
#submit {
    width: 100%;
    padding: .5rem;
    border: none;
    outline: none;
    border-radius: 2rem;
            
    margin-bottom: .5rem;
    background: #08B38B;
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
}
    #submit:hover {
        background: #1bd1a0;
    }

.login_register {
    font-size: .9rem;
    text-align: center;
    font-weight: 500;
    color: black;
}

.reg_link {
    color: black;
    font-weight: 700;
}

    .reg_link:hover {
        text-decoration: underline;
    }


@media (max-width: 1200px) {
    .header {
        padding: 2rem;
    }
}

@media (max-width: 991px) {
    html {
        font-size: 80%;
    }

    .home .box {
        padding: 1.5rem;
        justify-content: center;
        background-position: right !important;
    }

    .second {
        justify-content: center;
        background-position: left !important;
    }

    .home.content {
        text-align: center;
    }

        .home .content span {
            font-size: 2rem;
        }

        .home .content h3 {
            font-size: 3rem;
        }
}

@media (max-width: 820px) {
    #menu {
        display: inline-block;
    }

    .nav {
        position: fixed;
        top: 0;
        left: -110%;
        background: white;
        z-index: 10000;
        width: 23rem;
        height: 100%;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
    }

        .nav.active {
            left: 0;
            box-shadow: 0 0 0 100vw rgba(0, 0, 0,0.8);
        }

        .nav a {
            margin: 1rem 0;
            font-size: 1.5rem;
        }

    #nav_close {
        display: block;
        position: absolute;
        top: 1rem;
        right: 1.5rem;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 70%;
    }
}
